{% extends 'registration/auth_base.html' %}
{% block auth %}
  <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">
                      <medium><p>We've emailed you instructions for setting your password from no-reply@dwelling.condos </p>
                      <p>If they haven't arrived in a few minutes, check your spam folder.</p></medium>
                  </div>
                  
              </div>
          </div>
      </div>
{% endblock auth %}

