{% extends 'registration/auth_base.html' %}
{% block auth %}
  <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">
                      <small>Reset Password</small>
                  </div>
                  <div class="text-center">
                    <form action="" method="post">
                    {% csrf_token %}
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                        <p>{{ form.email }}</p> 
                        <input type="submit" class="btn btn-primary my-4" value="Reset password">
                    </form>
                  </div>
              </div>
          </div>
      </div>
{% endblock auth %}

