  {% load static %}
  
  <!--   Core   -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="{% static 'assets/js/plugins/chart.js/dist/Chart.extension.js' %}"></script>
  <!--   Argon JS   -->
  <script src="{% static 'assets/js/argon-dashboard.min.js' %}"></script>
<!--
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>


<script src="https://code.tidio.co/titn6sfl0jay4cveu3neb88gbpklxpay.js" async>     -->
</script>