{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <form method="post" enctype='multipart/form-data'>{% csrf_token %}
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">
                        {{ title }}
                        </h5>
        
                    </div>
                    <div class="modal-body">          
                        {{ form |crispy}}
                    </div>
                    <div class="modal-footer">
                        <a href=" {% url 'properties:detail' object.id %} " class="btn btn-secondary" name="update" role="button" aria-pressed="true">Cancel</a>
                        <input type="submit" value="Update" class="btn btn-primary">
                        {% if post_url %}
                            <a href=" {% url post_url object.id%} " class="btn btn-icon btn-3 btn-warning" name="post_document" type="button" a>
                                <span class="btn-inner--icon"><i class="{{icon}}"></i></span>
                                <span class="btn-inner--text">Post {{title}}</span>
                            </a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock content %}
